In [15]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler 
import os

In [2]:
df = pd.read_csv("~/Data Sets/Unsupervised/Dataset-weather-prediction-dataset-processed.csv")

In [32]:
# Check DataFrame
# Very wide format - can be problematic
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Columns: 170 entries, DATE to VALENTIA_temp_max
dtypes: float64(145), int64(25)
memory usage: 29.8 MB

In [33]:
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [34]:
# Create scaler object
scaler = StandardScaler()

In [35]:
# Apply StandardScaler to all columns
df_scaled = pd.DataFrame(scaler.fit_transform(df))
df_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
0,-1.707663,-1.599964,0.660514,-0.02793,0.826097,-0.001949,-1.101066,-0.265148,-0.179228,-0.902918,...,-0.443701,0.761754,-1.299744,-0.806427,-0.088407,-0.024706,0.372147,-0.668215,-0.519743,-0.752237
1,-1.707657,-1.599964,0.244897,-0.02793,0.735760,-0.001949,-1.058108,1.658760,-0.179228,-0.810126,...,0.783085,1.183580,-1.262455,-1.042055,0.503361,-0.024706,-0.829285,-0.548046,-0.629054,-0.407141
2,-1.707652,-1.599964,1.076130,-0.02793,1.277781,-0.001949,-1.251420,0.155707,-0.179228,-1.065304,...,0.783085,1.183580,-0.432779,-1.136306,-0.396127,-0.024706,-1.009500,-0.067372,0.054135,-0.177078
3,-1.707646,-1.599964,-1.001953,-0.02793,1.458455,-0.001949,-0.821838,-0.445514,-0.179228,-0.114186,...,0.783085,0.480538,0.387574,-1.183432,0.669056,-0.024706,-1.039536,-0.998679,-0.164486,-0.838511
4,-1.707641,-1.599964,0.244897,-0.02793,1.729466,-0.001949,-0.746661,-0.164944,-0.179228,0.187388,...,-1.670486,-0.363113,1.729970,-0.794645,-0.490810,-0.024706,0.672505,-1.509396,-1.339569,-1.471186

In [36]:
# Check that mean ~0 and std ~1 for all variables
# Looks ok, but too many columns to properly confirm
df_scaled.describe()

,0,1,2,3,4,5,6,7,8,9,...,160,161,162,163,164,165,166,167,168,169
count,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,...,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04,2.295000e+04
mean,-3.566646e-15,3.715256e-18,-1.975278e-16,-8.817541e-16,6.935145e-16,-1.690442e-15,-2.179617e-16,-6.997066e-17,-4.953675e-18,-3.962940e-17,...,-1.486102e-16,-1.709018e-15,-1.800104e-14,-1.368453e-16,-1.238419e-18,4.953675e-18,1.733786e-17,4.458307e-17,-1.535639e-16,-1.356068e-16
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,...,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.707663e+00,-1.599964e+00,-2.248803e+00,-2.894398e+00,-3.690749e+00,-6.619945e+00,-1.433992e+00,-4.455141e-01,-1.176144e+00,-1.065304e+00,...,-3.510664e+00,-6.268665e+00,-5.513376e+00,-1.313028e+00,-4.908101e-01,-2.470616e-02,-1.039536e+00,-4.273275e+00,-4.154305e+00,-4.318225e+00
25%,-8.761721e-01,-7.287815e-01,-5.863365e-01,-2.793014e-02,-7.096309e-01,-3.381979e-01,-8.647959e-01,-4.455141e-01,-1.792277e-01,-9.725122e-01,...,-4.437007e-01,-5.037211e-01,-4.514238e-01,-8.653338e-01,-4.789747e-01,-2.470616e-02,-8.893570e-01,-5.780885e-01,-4.924159e-01,-6.372051e-01
50%,4.221783e-03,1.424006e-01,2.448969e-01,-2.793014e-02,1.034013e-01,-1.948634e-03,-2.311624e-01,-4.455141e-01,-1.792277e-01,-2.301758e-01,...,1.696919e-01,-8.189596e-02,-3.958379e-03,-1.937928e-01,-1.594196e-01,-2.470616e-02,-1.831857e-02,-7.287352e-03,-5.203543e-04,-4.529850e-03
75%,8.842187e-01,7.231887e-01,6.605137e-01,-2.793014e-02,7.357597e-01,3.190165e-01,7.783554e-01,-4.618532e-03,-1.792277e-01,7.673387e-01,...,7.830846e-01,6.211460e-01,6.206288e-01,6.662509e-01,-5.559789e-03,-2.470616e-02,4.021827e-01,6.836824e-01,6.553403e-01,6.281454e-01
max,1.715715e+00,1.594371e+00,1.076130e+00,1.935485e+01,2.181150e+00,4.155315e+00,3.452504e+00,1.658909e+01,2.424521e+01,2.831962e+00,...,1.396477e+00,2.449055e+00,2.988467e+00,3.352415e+00,1.060275e+02,6.072597e+01,3.706122e+00,3.868152e+00,3.169473e+00,4.280407e+00

In [42]:
# Convert from wide format to long format using melt
df_long = df.melt(id_vars=['DATE', 'MONTH'], 
                 var_name='city_metric', 
                 value_name='value')

# Split city name from variables and pivot them into new columns
df_long[['city', 'metric']] = df_long['city_metric'].str.split('_', n=1, expand=True)
df_long = df_long.drop('city_metric', axis=1).pivot_table(
   index=['DATE', 'MONTH', 'city'], 
   columns='metric', 
   values='value', 
   aggfunc='first'
).reset_index()

In [41]:
# Check results
df_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413100 entries, 0 to 413099
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              413100 non-null  int64
 1   MONTH             413100 non-null  int64
 2   city              413100 non-null  object
 3   cloud_cover       367200 non-null  float64
 4   global_radiation  367200 non-null  float64
 5   humidity          390150 non-null  float64
 6   precipitation     390150 non-null  float64
 7   pressure          367200 non-null  float64
 8   snow_depth        160650 non-null  float64
 9   sunshine          367200 non-null  float64
 10  temp_max          390150 non-null  float64
 11  temp_mean         413100 non-null  float64
 12  temp_min          390150 non-null  float64
 13  wind_speed        252450 non-null  float64
dtypes: float64(11), int64(2), object(1)
memory usage: 44.1+ MB

In [56]:
df_long.head(19)

metric,DATE,MONTH,city,cloud_cover,global_radiation,humidity,precipitation,pressure,snow_depth,sunshine,temp_max,temp_mean,temp_min,wind_speed
0,1960-01-01,1,BASEL,0.862132,-1.030459,0.642743,-0.258065,0.107489,-0.22671,-1.008557,-0.266122,-0.388790,-0.638017,-0.497598
1,1960-01-01,1,BELGRADE,-1.638387,-0.455022,0.387073,-0.424729,0.205459,NaN,0.477063,-0.582091,-0.725164,-0.863394,NaN
2,1960-01-01,1,BUDAPEST,-0.388128,-0.907151,-0.507772,-0.406211,0.042176,NaN,-0.631257,-0.876996,-0.881337,-0.797107,NaN
3,1960-01-01,1,DEBILT,0.862132,-1.287350,0.642743,0.038226,-0.859148,NaN,-1.173626,-0.255590,-0.052416,0.236973,1.872655
4,1960-01-01,1,DUSSELDORF,1.278885,-1.235972,0.514908,-0.276583,-0.016606,-0.22671,-1.173626,-0.202929,0.031677,0.183944,0.899158
5,1960-01-01,1,GDANSK,1.278885,NaN,1.026248,-0.424729,NaN,-0.22671,NaN,-1.245626,-1.073551,-0.783849,NaN
6,1960-01-01,1,HEATHROW,0.862132,-1.225696,1.026248,-0.017328,-1.002837,-0.22671,-1.173626,-0.539962,0.103758,0.502122,NaN
7,1960-01-01,1,KASSEL,NaN,-1.071561,0.450990,0.464146,-0.454205,NaN,-0.796325,-0.424107,-0.220603,-0.227037,-0.158990
8,1960-01-01,1,LJUBLJANA,1.278885,-1.153767,1.601506,-0.424729,0.061769,NaN,-1.173626,-1.361481,-1.241738,-0.995968,-0.793880
9,1960-01-01,1,MAASTRICHT,0.862132,-1.133215,0.514908,0.167854,-0.656677,NaN,-0.937813,-0.245058,-0.028389,0.382805,2.295915
10,1960-01-01,1,MADRID,0.445379,-0.814670,1.090166,-0.424729,0.629995,NaN,-0.843488,-0.276655,-0.256643,-0.160750,-1.386443
11,1960-01-01,1,MUNCHENB,0.028626,-1.153767,-0.507772,-0.239547,NaN,-0.22671,-1.173626,-0.318784,-0.340737,-0.598245,NaN
12,1960-01-01,1,OSLO,1.278885,-1.318177,1.473671,1.686349,-1.211839,-0.22671,-1.173626,-0.792737,-0.581004,-0.240294,0.306595
13,1960-01-01,1,ROMA,-0.804881,NaN,-0.124267,NaN,-0.075388,NaN,0.500644,NaN,-0.232616,NaN,-0.285968
14,1960-01-01,1,SONNBLICK,-0.388128,-0.866048,-0.124267,-0.406211,0.917373,NaN,-0.631257,-1.751176,-1.878446,-1.870959,0.518225
15,1960-01-01,1,STOCKHOLM,0.028626,-1.307901,NaN,0.167854,-0.323579,NaN,-1.173626,-0.898060,-0.665097,-0.452413,NaN
16,1960-01-01,1,TOURS,NaN,0.223170,0.067485,0.390073,0.035644,NaN,NaN,-0.129202,0.031677,0.290003,0.221943
17,1960-01-01,1,VALENTIA,0.028626,-0.896875,0.834495,0.204891,-1.048556,-0.22671,-0.065306,-0.266122,-0.148523,0.051369,NaN
18,1960-01-02,1,BASEL,0.445379,-0.989356,0.578825,1.519685,0.107489,-0.22671,-0.914232,-0.350381,-0.436843,-0.306582,-0.497598

In [44]:
# Identify columns to exclude from scaling
categorical_cols = ['DATE', 'MONTH', 'city']
numeric_cols = df_long.select_dtypes(include=[np.number]).columns.difference(categorical_cols)

# Apply StandardScaler only to numeric columns
df_long[numeric_cols] = scaler.fit_transform(df_long[numeric_cols])

In [45]:
# Confirm mean is ~0 and std is ~1 for all numeric variables
df_long[numeric_cols].describe()

metric,cloud_cover,global_radiation,humidity,precipitation,pressure,snow_depth,sunshine,temp_max,temp_mean,temp_min,wind_speed
count,3.672000e+05,3.672000e+05,3.901500e+05,3.901500e+05,3.672000e+05,1.606500e+05,3.672000e+05,3.901500e+05,4.131000e+05,3.901500e+05,2.524500e+05
mean,2.198193e-17,-2.049583e-16,1.455798e-15,-1.270472e-16,2.241253e-14,9.907350e-18,3.851482e-16,-1.690077e-16,1.431062e-16,1.142259e-16,-1.227160e-16
std,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000003e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000002e+00
min,-4.331371e+01,-1.482587e+00,-4.790247e+00,-4.247294e-01,-7.284744e+01,-5.823395e-01,-1.574507e+00,-4.700220e+00,-4.989904e+00,-5.291377e+00,-1.386443e+00
25%,-8.048808e-01,-8.557728e-01,-5.077725e-01,-4.247294e-01,-2.909222e-01,-2.267105e-01,-1.008557e+00,-6.768820e-01,-6.530837e-01,-6.380174e-01,-5.822498e-01
50%,2.862568e-02,-1.878555e-01,1.314027e-01,-4.247294e-01,9.518876e-03,-2.267105e-01,-1.124686e-01,7.717395e-03,6.771744e-02,7.788409e-02,-2.859682e-01
75%,8.621321e-01,7.164016e-01,7.066604e-01,-1.732821e-02,3.622105e-01,-2.267105e-01,7.128759e-01,7.239136e-01,7.044251e-01,7.407558e-01,3.489211e-01
max,2.112392e+00,1.327325e+01,1.601506e+00,1.662394e+02,3.895659e+00,1.666567e+01,4.485879e+00,3.177939e+00,2.986962e+00,2.928233e+00,1.258112e+01

In [50]:
df_long['DATE'] = pd.to_datetime(df_long['DATE'], format='%Y%m%d', errors='coerce')

In [55]:
df_long.to_pickle("~/Data Sets/Unsupervised/Dataset_scaled.pkl")